<extend name="Base/common" />
<block name="style">
    <link rel="stylesheet" href="__CSS__/dish_name_content/css/main.css">
</block>
<block name="body">
    <div id="page_0" class="up ub ub-ver bc-bg" tabindex="0">
        <!--header开始-->
        <div id="header" class="uh bc-text-head ub bc-head">
            <div class="nav-btn" id="">
                <div class="fa fa-angle-left fa-2x"></div>
            </div>
            <h1 class="ut ub-f1 ulev-3 ut-s tx-c" tabindex="0" id="caiName">菜名</h1>
            <div class="nav-btn nav-bt" id="nav-right">
            </div>
        </div>
        <!--header结束--><!--content开始-->
        <div id="content" class="ub-f1 tx-l t-bla c-wh-com">
            <div id="picture">
                <img src="__IMG__/img/thumbnails.jpg"/>
            </div>
            <div id="p_n">
                <p class="price">单价<span class="span1"><font class="font">￥</font><label id="jine">8</label></span></p>
            </div>
        </div>
        <!--content结束-->

    </div>
</block>