<extend name="./Application/Admin/View/Public/layout.html"/>
<block name="style">
    <link href="__CSS__/style.css" rel="stylesheet" type="text/css">
</block>
<block name="main">
    <div class="clearfix full-container">

        <div class="builder builder-list-box panel-body">
            <div class="main-title">
                <h4>商家库存报表（截至{$time}）</h4>
            </div>
            <!-- 顶部工具栏按钮 -->
            <div class="builder-toolbar builder-list-toolbar">
                <!-- 工具栏按钮 -->
                <form action="{:U('shangjia')}" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="row">
                        <label class="col-sm-2">请选择商家：</label>
                        <div class="col-sm-2" style="margin-left: -8%;">
                            <select id="store" name="store_id" class="form-control">
                                <option style="display: none;" value="{$titleid}">{$title}</option>
                                <volist name="storage" id="storage">
                                    <option value="{$storage.store_id}"<eq name="storage.store_id" value="$titleid">selected="selected"</eq>>{$storage.store_name}</option>
                                </volist>
                            </select>
                        </div>
                        <div class="row">
                            <button class="btn btn-success" id="submit" type="submit" target-form="form-horizontal">搜 索</button>
                            <button class="btn shang btn-success"  type="submit" target-form="form-horizontal">上一商家</button>
                            <button class="btn xia btn-success"  type="submit" target-form="form-horizontal">下一商家</button>
                        </div>

                    </div>
                </form>
            </div>

            <!-- 数据列表 -->
            <div class="builder-container builder-list-container">
                <div class="row">
                    <div class="col-xs-12">

                        <div class="builder-table">
                            <div class="panel panel-default">
                                <table class="table table-bordered table-responsive table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>库存ID</th>
                                        <th>商家名称</th>
                                        <!--<th>仓库名称</th>-->
                                        <th>商品名称</th>
                                        <th>库存数量</th>
                                    </tr>
                                    </thead>
                                    <tbody class="tbody">
                                    <notempty name="list">
                                        <volist name="list" id="vo">
                                            <tr>
                                                <td>{$vo.kc_id}</td>
                                                <td>{$vo.store_id|get_store_name}</td>
                                                <!--<td>{$vo.storage_id|get_storage_name}</td>-->
                                                <td>{$vo.sp_id|get_sp_name}</td>
                                                <td>{$vo.quantity}{$vo.sp_id|get_sp_danwei}</td>
                                            </tr>
                                        </volist>
                                        <else/>
                                        <td colspan="7" class="text-center"> aOh! 该商家没有库存哦！ </td>
                                    </notempty>
                                    </tbody>
                                </table>
                            </div>
                            <div class="page">
                                {$page}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- 额外功能代码 -->
        </div>

    </div>


</block>
<block name="script">
    <script type="text/javascript">
        $('.shang').click(function(){
            var id = $("#store  option:selected").prev().val();
            $("#store  option:selected").val(id);
        });
        $('.xia').click(function(){
            var id = $("#store  option:selected").next().val();
            $("#store  option:selected").val(id);
        })
    </script>
</block>
