<div class="zy-footer  clearfix">
    <div class="footer-item clearfix">
        <dl class="col-sm-3">
            <dt>帮助</dt>
            <dd><a href="#">建议与反馈</a></dd>
            <dd><a href="#">使用帮助</a></dd>
            <dd><a href="#">常见问题</a></dd>
        </dl>
        <dl class="col-sm-3">
            <dt>关于我们</dt>
            <dd><a href="#">助友简介</a></dd>
            <dd><a href="#">加入我们</a></dd>
            <dd><a href="#">联系我们</a></dd>
            <dd><a href="#">服务协议</a></dd>
        </dl>
        <dl class="col-sm-3">
            <dt>商务合作</dt>
            <dd><a href="{:U('Approve/index')}">我要开店</a></dd>
            <dd><a href="#">加盟指南</a></dd>
            <dd><a href="#">市场合作</a></dd>
        </dl>
        <dl class="col-sm-3">
            <dt>客服热线</dt>
            <dd></dd>
        </dl>
    </div>
    <div class="copyright "><p class="text-center">Copyright &copy;2015 包头市助友科技有限公司</p></div>
</div>