<style type="text/css">
	.bottom-nav ul a:hover{text-decoration: none;color: orange;}
	.tool-header a:hover{text-decoration: none;color: orange;}
</style>
<div class="bottom-nav">
    <ul>
        <a href="{:U('Question/index')}" target="_blank"><i
                class="ic-1"></i>如何订餐</a>
        <a href="javascript:" class="scope"><i class="ic-2"></i>配送范围</a>
        <a href="http://www.laiyihuo.com/bbs" target="_blank"><i class="ic-3"></i>火锅论坛</a>
        <a href="{:U('Question/index')}" target="_blank"><i
                class="ic-4"></i>正品保障</a>
    </ul>
</div>
<div class="tool-box site-box" id="scope-box">
    <div class="tool-header ">
        <a class="tool-close psclose" href="javascript:;"></a>

        <h1>配送范围</h1>
    </div>
    <div>
        <img height="440px" width="579px" src="__PUBLIC__/Home/images/zhgIndex/beijing(1).png" alt="配送范围">
    </div>
    <div style="text-align: center; margin-top: 20px">
        <input type="button" value="我知道了"
               style="width: 125px; border: 0px; background: #FB3634; height: 35px; color: #fff; font-size: 15px; cursor: pointer"
               id="btnClosesite">
    </div>
</div>

<div class="footer">
    <div class="friendlink">
        <span>友情链接：</span>


    </div>

    <p><a href="javascript:;"
                                    target="_blank">商务合作</a>&nbsp;|&nbsp;使用条款</p>
</div>
<a id="ibangkf" href="javascript:;" style="display: none;">在线客服系统</a>
</body>
</html>