<extend name="./Application/Admin/View/Public/layout.html"/>

<block name="main">

	<div class="row">
		<div class="col-sm-2" style="margin-top: 20px;margin-left:50px;width: auto;padding: 6px 35px 6px 35px;font-size:16px;">新增餐厅分类</div>
	</div>


	<!-- 标签页导航 -->
	<div class="tab-wrap" style="margin-top: 50px;">
		<div class="tab-content">
			<!-- 表单 -->
			<form id="form" action="{:U('add')}" method="post" class="form-horizontal doc-modal-form">
				<!-- 基础 -->
				<div class="form-group">
					<label class="col-sm-2 control-label" >店铺分类名称</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" name="store_c_name">
						</div>		
						<label style="padding-top:7px;font-weight:normal;">（请输入店铺分类名称）</label>
				</div>


				<div class="form-group">

					<label class="col-sm-2 control-label">分类图</label>

					<div class="col-sm-2">

						<div  id="_upload_box" class="wu-example">
							<!--用来存放文件信息-->
							<div id="_upload_list" class="uploader-list col-xs-12 img-box">
								<notempty name="form">
									<div id="_upload_preview" class=" file-item thumbnail">
										<i class="fa fa-times-circle remove-picture"></i>
										<img src="" data-id="">
									</div>
									<else />
									<div id="_upload_preview" class="file-item thumbnail hidden">
										<i class="fa fa-times-circle remove-picture"></i>
										<img  style="width: 400px;height: 150px;">
									</div>
								</notempty>
							</div>
							<div class="btns col-xs-12">
								<input type="hidden" id="_upload_input" name="store_pic" value="">
								<div id="_upload">上传图片</div>
								<button id="ctlBtn" class="btn btn-default hidden">开始上传</button>
								<notempty name="aa">
									<span class="check-tips text-muted small">店铺图片</span>
								</notempty>
							</div>
						</div>

					</div>

					<label style="padding-top:7px;font-weight:normal;">（320×240像素的图片）</label>

					<script type="text/javascript">
						$(function(){
							var uploader = WebUploader.create({
								auto: true,                                                                    // 选完文件后，是否自动上传
								duplicate: true,                                                               // 同一文件是否可以重复上传
								swf: '__CUI__/swf/uploader.swf',                                               // swf文件路径
								server: '{:U("Admin/Upload/Upload", array("dir" => "image"))}',    // 文件接收服务端
								pick: '#_upload',                                   							// 选择文件的按钮
								resize: false,                                                                 // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
								//fileNumLimit: 1,                                                             // 验证文件总数量, 超出则不允许加入队列
								fileSingleSizeLimit:<php> echo C('UPLOAD_FILE_SIZE') ? : 2; </php>*1024*1024,  // 验证单个文件大小是否超出限制, 超出则不允许加入队列
								// 文件过滤
								accept: {
									title: 'Images',
									extensions: 'gif,jpg,jpeg,bmp,png',
									mimeTypes: 'image/*'
								}
							});

							// 文件上传过程中创建进度条实时显示。
							uploader.on( 'uploadProgress', function( file, percentage ) {
								$( '#_upload_preview').removeClass('hidden');
								var $li = $( '#_upload_preview'),
										$percent = $li.find('.progress .progress-bar');
								// 避免重复创建
								if ( !$percent.length ) {
									$percent = $('<div class="progress"><div class="progress-bar"></div></div>')
											.appendTo( $li )
											.find('.progress-bar');
								}
								$percent.css( 'width', percentage * 100 + '%' );
							});

							// 完成上传完了，成功或者失败，先删除进度条。
							uploader.on( 'uploadComplete', function( file ) {
								$( '#_upload_preview' ).find('.progress').remove();
							});

							// 文件上传成功，给item添加成功class, 用样式标记上传成功。
							uploader.on( 'uploadSuccess', function( file , response) {
								$( '#_upload_preview' ).addClass('upload-state-done');
								if(eval('response').status == 0){
									$.alertMessager(response.info);
								} else {
									$( '#_upload_input' ).attr('value', response.id);
									$( '#_upload_preview img').attr('src', response.url);
									$( '#_upload_preview img').attr('data-id', response.id);
								}
							});

							// 文件上传失败，显示上传出错。
							uploader.on( 'uploadError', function( file ) {
								$.alertMessager('error');
								var $li = $( '_upload_preview'),
										$error = $li.find('div.error');
								// 避免重复创建
								if ( !$error.length ) {
									$error = $('<div class="error"></div>').appendTo( $li );
								}
								$error.text('上传失败');
							});

							// 删除图片
							$(document).on('click', '#_upload_list .remove-picture', function() {
								$( '#_upload_input' ).val('') //删除后覆盖原input的值为空
								$( '#_upload_preview').addClass('hidden');
							});
						});
					</script>



				</div>




				 <div class="form-group">
					 <label class="col-sm-2 control-label">排序</label>
						 <div class="col-sm-1">
							 <input type="number" class="form-control" name="sort_order" value="0">
						 </div>
						 <label style="padding-top:7px;font-weight:normal;">（用于分组显示的顺序）</label>
				 </div>
      		      		 
				<!-- 按钮 -->
				<div class="form-group">
					<label class="col-sm-2 control-label" >&nbsp;</label>
					<div class="col-sm-4">
						<button class="btn submit-btn ajax-post btn-info" type="submit" target-form="form-horizontal">确定</button>
						<button class="btn btn-return btn-info" onclick="javascript:history.back(-1);return false;">返回</button>
					</div>
				</div>
			</form>
		</div>
	</div>

</block>

