<extend name="./Application/Admin/View/Public/layout.html"/>
<block name="style"></block>
<block name="style">
    <style>
        body{
            padding:40px 20px;
        }
    </style>
</block>
<block name="main">
    <form class="form-horizontal" action="{:U('MemberPublic/menuedit')}" method="post" id="form">
        <ul class="tab-nav nav">
            <li class="current"><a href="{:U('MemberPublic/menu')}">自定义菜单管理<span class="arrow fa fa-sort-up"></span></a></li>
        </ul>
        <div style="height:55px;line-height: 55px;">
            <div class="col-sm-10" style="width:100%;">
                <label class="col-sm-1" style="margin:0px;padding:0px;width:100%;height:30px;line-height: 30px;">排序号 （数值越小越靠前）</label>
                <div class="col-sm-2" >
                    <input type="text"  class="form-control" name="sort" value="{$info.sort}"/>
                </div>
            </div>
            <input type="hidden" value="{$id}" name="id" />
            <div class="col-sm-10" style="width:100%;margin-top:1em;">
                <label class="col-sm-1" style="margin:0px;padding:0px;width:100%;height:30px;line-height: 30px;">一级菜单 （如果是一级菜单，选择“无”即可）</label>
                <div class="col-sm-2" >
                    <select class="form-control" name="pid">
                        <if condition="$info['pid'] eq 0">
                            <option value="0">无</option>
                            <volist name="pdata" id="vo">
                                <if condition="$vo.id neq $id">
                                    <option value="{$vo.id}">{$vo.title}</option>
                                </if>
                            </volist>
                            <else/>
                            <option value="0">无</option>
                            <volist name="pdata" id="ro">
                                <option value="{$ro.id}"<eq name="ro.id" value="$info.pid">selected="selected"</eq>>{$ro.title}</option>
                            </volist>
                        </if>
                    </select>
                </div>
            </div>
            <div class="col-sm-10" style="width:100%;margin-top:1em;">
                <label class="col-sm-1" style="margin:0px;padding:0px;width:100%;height:30px;line-height: 30px;"><span style="color:red;">*</span> 菜单名 （可创建最多 3 个一级菜单，每个一级菜单下可创建最多 5 个二级菜单。编辑中的菜单不会马上被用户看到，请放心调试。）</label>
                <div class="col-sm-2" >
                    <input type="text"  class="form-control" name="title" value="{$info.title}"/>
                </div>
            </div>
            <div class="col-sm-10" style="width:100%;margin-top:1em;">
                <label class="col-sm-1" style="margin:0px;padding:0px;width:100%;height:30px;line-height: 30px;">类型</label>
                <div class="col-sm-2 type" >
                    <select class="form-control" name="type">
                        <option value="click" <eq name="info.type" value="click">selected="selected"</eq>>点击推事件</option>
                        <option value="view" <eq name="info.type" value="view">selected="selected"</eq>>跳转URL</option>
                        <option value="scancode_push" <eq name="info.type" value="scancode_push">selected="selected"</eq>>扫码推事件</option>
                        <option value="scancode_waitmsg" <eq name="info.type" value="scancode_waitmsg">selected="selected"</eq>>扫码带提示</option>
                        <option value="pic_sysphoto" <eq name="info.type" value="pic_sysphoto">selected="selected"</eq>>弹出系统拍照发图</option>
                        <option value="pic_photo_or_album" <eq name="info.type" value="pic_photo_or_album">selected="selected"</eq>>弹出拍照或者相册发图</option>
                        <option value="pic_weixin" <eq name="info.type" value="pic_weixin">selected="selected"</eq>>弹出微信相册发图器</option>
                        <option value="location_select" <eq name="info.type" value="location_select">selected="selected"</eq>>弹出地理位置选择器</option>
                        <option value="none" <eq name="info.type" value="none">selected="selected"</eq>>无事件的一级菜单</option>
                    </select>
                </div>
            </div>
            <if condition="$info.type eq 'view'">
                <div class="col-sm-10" style="width:100%;margin-top:1em;">
                    <label class="col-sm-1" style="margin:0px;padding:0px;width:100%;height:30px;line-height: 30px;">关联URL </label>
                    <div class="col-sm-4" >
                        <input type="text"  class="form-control" name="url" value="{$info.url}" style="width:100%;"/>
                    </div>
                </div>
                    <else/>
                <div class="col-sm-10" style="width:100%;margin-top:1em;">
                    <label class="col-sm-1" style="margin:0px;padding:0px;width:100%;height:30px;line-height: 30px;">关联关键词</label>
                    <div class="col-sm-2" >
                        <input type="text"  class="form-control" name="keyword" value="{$info.keyword}"/>
                    </div>
                </div>
            </if>
            <div class="cf" style="margin:2em 0em 0em 2em;">
                <div class="fl">
                    <button class="btn ajax-post" type="submit" id="submit" >确定</button>
                </div>
            </div>
        </div>
    </form>
</block>
<block name="script">
    <script type="text/javascript">
        $('#submit').click(function(){
            var self = $('#form');
            $.post(self.attr("action"), self.serialize(), function(data){
                if(data.status){
                    setTimeout(function(){
                        $('#top-alert').show().text(data.info);
                        window.location.href=data.url;
                    },500);
                }else{
                    $('#top-alert').show().text(data.info);
                }
            }, "json");
            return false;
        })

    </script>
</block>
</block>

