<extend name="./Application/Admin/View/Public/layout.html"/>
<block name="main">
    <style>
        .red-star:before{
            content:"*";
            color:red;
            font-weight: bold;
            font-size:1.2em;
            padding-right: 5px;
        }
    </style>
    <form action="{:U('add')}" method="post" class="form-horizontal" enctype="multipart/form-data" style="margin-top: 50px;">
        <input type="hidden" name="id" value="{$id}"/>
        <div class="form-group">
            <label class="col-sm-2 control-label red-star">桌台类别名称：</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="name" value="{$info.name}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">&nbsp;</label>
            <div class="col-sm-4">
                <button class="btn btn-success ajax-post"  type="submit" target-form="form-horizontal">确 定</button>
                <button class="btn btn-return btn-info " onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript"></script>
</block>
